*.pyc
*.sublime*
.idea
glowconsole/glowconsole.iml
glowconsole/settings.py
glowconsole/local_settings.py
settings.py
glowconsole/media/tmp/
.DS_Store
media/creatives/
media/uploads/
glowconsole/media/uploads
glowconsole/media/ui/build
glowconsole/media/ui/packages/glow/build
glowconsole/media/ui/docs
glowconsole/media/creatives
glowconsole/media/creatives/1
glowconsole/media/creatives/1/16
glowconsole/media/creatives/1/17
glowconsole/media/videos
*.ipynb
.coverage
htmlcov
coverage.xml
start.sh
*.swp
glowconsole/static
nano.save
.*.swp
Thumbs.db
.project
glowconsole/glow
glowconsole/glowmachine_wsgi.py
glowconsole/media/admin
glowconsole/media/django_extensions
glowconsole/media/djcelery
glowconsole/media/rest_framework